<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
</head>
<title>Dead By Daylight statistics</title>
</head>
<body>
<div class="container">
    <h1>Dead By Daylight</h1>
    <h2>Screenshot to statistics</h2>
    <form action="/match" method="post" enctype="multipart/form-data" class="row g-3 mb-3">
        <div class="col-md-12">
            <label for="formFileMultiple" class="form-label">Upload your screanshot(s)</label>
            <input class="form-control" type="file" id="formFileMultiple" name="screenshots[]" multiple required>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>

    {% if data.rows %}
    <div class="photo-gallery">
        <table class="table table-bordered table-striped table-hover" id="result-list">
            <thead>
            <tr>
                {% if data.debug %}
                <th rowspan="2" style="vertical-align:middle">Original</th>
                {% endif %}
                <th rowspan="2" style="vertical-align:middle">Killer</th>
                <th colspan="4">Perks</th>
                <th rowspan="2" style="vertical-align:middle">Escaped</th>
                <th rowspan="2" style="vertical-align:middle">Died</th>
                <th rowspan="2" style="vertical-align:middle">Killed</th>
                <th rowspan="2" style="vertical-align:middle">Disconnected</th>
                {% if data.debug %}
                <th rowspan="2" style="vertical-align:middle">&nbsp;</th>
                {% endif %}
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>


            </thead>
            <tbody>
            <!-- DEMO DATA!!! -->
            {% for item in data['rows'] %}
            {% if item.escaped == 4 %}
            <tr class="table-success">
                {% elif item.escaped == 0 %}
            <tr class="table-danger">
                {% else %}
            <tr>
                {% endif %}
                {% if data.debug %}
                <td>
                    {% if item.original %}
                    <a href="{{ item.original_src }}" data-lightbox="photos">
                        {{ item.original|safe }}
                    </a>
                    {% endif %}
                </td>
                {% endif %}
                <td>{{ item.killer|safe }}</td>
                <td>{{ item.perk1|safe }}</td>
                <td>{{ item.perk2|safe }}</td>
                <td>{{ item.perk3|safe }}</td>
                <td>{{ item.perk4|safe }}</td>
                <td>{{ item.escaped }}</td>
                <td>{{ item.died }}</td>
                <td>{{ item.killed }}</td>
                <td>{{ item.disconnected }}</td>
                {% if data.debug %}
                <th>
                    {% if item.original %}
                    <a class="btn btn-default" href="/edit/{{ item.id }}"><i class="bi bi-pencil"></i></a>
                    {% else %}
                    &nbsp;
                    {% endif %}
                </th>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#result-list').DataTable({
            columnDefs: [{
                targets: '_all',
                "orderable": false,
                "searchable": false
            }],
            order: []});
    });
</script>
</body>
</html>